:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb
}

:after,
:before {
  --tw-content: ""
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal
}

body {
  margin: 0;
  line-height: inherit
}

.nav {
   /* display: flex;  */
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  /* height: 79px; */
  /* align-items: center; */
  /* margin-bottom: 90%; */
  /* border-bottom: 3px solid #e5e7eb; */ 
}

.img {
  width: 70px;
  height: 70px;
}

.Imgdiv {
  margin-left: 40px;
}

.btn-1 {
  margin-right: 20px;
  width: 108px;
  padding: 7px;
  background-color: rgb(37, 99, 235);
  border-radius: 5px;
  border: 1px solid rgb(37, 99, 235);
  color: #e5e7eb;
  font-size: 18px;
  cursor: pointer;
}

.btn-2 {
 margin-right: 50px;
  width: 120px;
  padding: 7px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgb(37, 99, 235);
  font-size: 18px;
  cursor: pointer; 
}

.btn-1:hover {
  background-color: #fff;
  color: black;
}

.btn-2:hover {

  visibility: hidden;
}

@media (max-width:700px) {

  .btn-1,
  .btn-2 {
    margin-right: 16px;
    border: none;
    height: 20px;
    margin-top: 24px;
    border-radius: 6px;
    width: 70px;
    text-align: center;
    height: 6vh;
    margin-bottom: 20px;
    font-weight: 500;
  }

  .Imgdiv {
    margin-left: 20px;
    height: 60px;
    margin-top: 8px;
  }
}

.heading {
  text-align: center;
  margin-top: 5%;
  font-size: 30px;
}

.photo {
  width: 250px;
  height: 250px;
  margin-top: 20px;
  margin-left: 20px;
}

.section-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main-container {
  flex: 1 0 21%;
  margin: 5px;
  border: 1px solid #ccc;
  margin: 20px;
}

.main-container:hover {
  border: 0 solid rgba(160, 142, 142);
  transition: transform 0.3 ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
  cursor: pointer;
  background-color: #fff;
}

.item-text {
  color: #ccc;
  font-size: 13px;
}

.item-info {

  margin-left: 10px;
}

.header {
  display: flex;
}

.price {
  margin-left: 90px;
}

.tittle {
  align-items: center;

}

.hd-1 {
  color: rgb(37, 99, 235);

  margin-left: 300px;
}

.login-form {
  max-width: 400px;
  /* height: au; */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 88px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-left: 90px;
}
@media screen and (max-width: 600px) {
  .container{
    /* max-width: 200px; */

    /* display: block; */
    overflow: hidden;
    /* scroll-behavior: smooth; */
  }
  .login-form {
    max-width: 200px;
    /* overflow-x: hidden; */
  }
  input{
    margin-left: 10px;
  }

  
}

.uname {
  margin-left: 90px;
  color: rgb(37, 99, 235);
}
.passclass {
  margin-left: 90px;
  color: rgb(37, 99, 235);
}

.tittle{
  color: rgb(37, 99, 235);
  font-size: 39px;
  margin-top: -10px;
  text-decoration: underline rgb(67, 94, 215);
 
}

.bttn {
    padding: 10px;
    background-color:rgb(37, 99, 235);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 90px;
    margin-top: 20px;
    width: 90px;
  }
  .bttn:hover{
    background-color: rgb(243, 243, 251);
    color: rgb(37, 99, 235);
  }
  /* margin-left: 25px;
  width: 280px;
  height: 30px;
  border: none;
  color: #fff;
  font-size: 20px;
  border-radius: 20px;
  background-color: rgb(37, 99, 235); */
/* } */

/* .forgetpass {
 
    /* padding: 10px; */
    /* color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer; 
    width: 50%;
    margin-l    background-color: #007bff;
eft: ;
  } */ 
  /* border: none;
  margin-left: 30px;
  width: 280px;
  height: 30px;
  border-radius: 30px;
  color: #fff;
  background-color: rgb(37, 99, 235);
  margin-top: 14px; */


.forgetpass a {
  color: #fff;
  margin-left: 70px;
  text-decoration: none;
}

.hd-1 {

  margin-left: 74px;
}

.photo-2 {
  width: 360px;
  height: 380px;
  padding: 50px;
  margin-left: 110px;
  margin-top: 95px;
}

.item-infor {

  margin-top: 190px;
}

.maiin {
  display: flex;
}

.tittlee {
  font-size: 40px;
}

.pro-pricee {
  font-size: 34px;
  color: #1110109f;
}

hr {
  width: 90%;
  margin-right: 100px;
}

.descrip {
  font-size: 15px;
}

.addbtn {
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(37, 99, 235);
  border: none;
  color: #fff;
}
.minus{
  /* margin-left: 609px; */
  padding: 12px;
  background-color: #000;
color: #fff;
}
.plus{
  padding: 12px;
  background-color: #000;
color: #fff;
  /* margin-top: 20px; */
}
.bttn-{
  padding-bottom: 20px;
}
.addbtn:hover {
  cursor: pointer;
  background-color: #000;
}

@media(max-width:700px) {

  .maiin {

    display: block;
    overflow-x: hidden;
  }

  .main-cntainer {

    width: 150%;
    margin-left: -39%;

  }

  .item-infor {

    flex-wrap: wrap;
    margin-top: 10%;
  }
}


.maincart {
  display: flex;
/* flex-wrap: wrap; */
  width: 100%;
  height: auto;
  background-color: #ccc;
}

.maincart2 {
  width: 60%;
  height: auto;
  border: 1px solid black;
  margin-left: 3%;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 4px;

}

.maincart3 {
  /* display: flex;
  flex-wrap: wrap; */
  width: 30%;
  height: 400px;
  margin-left: 1%;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 4px;
}

.maincartheading {
  margin-left: 20px;
  font-weight: 700;
}

.maincartpara {
  margin-left: 47%;
  margin-top: 5%;
  font-weight: 500;
}

.totol {
  margin-left: 5%;
}

hr {
  margin-left: 20px;
}

.para-1 {
  display: flex;
}

hr {
  width: 83%;
}

.photo-3 {
  width: 15%;
  height: 14%;
  margin-bottom: 2%;
  margin-left: 20px;
}

.imgdiv {
  display: flex;
}

.detailsdiv {
  margin-left: 22px;
  margin-top: 22px;
  font-size: 20px;
}

.prize {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}

.detailsbtn {
  padding: 8px;
  margin-bottom: 2%;
  border: 2px solid black;
  border-radius: 12px;
  background-color: #000;
  color: #fff;
  padding-top: 10px;
}
.delivery{
  margin-left: 10px;
}
.standardd{
  margin-left: -29%;
  margin-top: -34px;
color: #ccc;
}
.cutbtn {
  margin-left: 95%;
  background-color: #000;
  color: #fff;
  border: none;
}

.quantity {
  border-bottom: 2px solid gray;
}

.bbtn {
  margin-top: 15px;

}

.sbtol {
  margin-left: 5%;
}

.sub {
  margin-left: 20%;
}

@media(max-width:700px) {
  .maincart {
  display: block;
  width: 100%;
  /* margin-right: 10px; */
  background-color: #fff;
  overflow-x: hidden;
  }


  .maincart2 {
    width: 100%;
    /* font-size: 30px; */
    /* margin: px; */
  } 

  .maincart3 {
 width: 100%;
 margin-top: 12px;
  } 
.sub{
  margin-left: 30px;
}
.bttn-{
  margin-left: 140px;
  margin-top: 10px;
  padding: 12px;
  font-size: 30px;
  /* background-color: #000; */
}
.plus{
  padding: 12px;
  background-color: #000;
color: #fff;
}
.sbtol{
  margin-left: -190px;
}
.minus{
  padding: 12px;
  background-color: #000;
color: #fff;

}
  .cutbtn {
    margin-left: 80%;
    background-color: #000;
    color: #fff;
    border: none;
    margin-top: 10%;
    /* margin-left: 181px; */
  } 
  .detailsdiv{
    font-size: 12px;
    color: #000;
  }

  .detailsbtn {
  padding: 15px;
  background-color: #000;
  color: #fff;
  } 
}

.btncategory {
  margin-left: 14%;
  padding: 10px;  
  /* padding-top: 10%; */
  color: #000;
  border: 1px solid rgb(69, 69, 248);
}

.btncategory:hover {
  background-color: rgb(46, 46, 182);
}
.styleerror{
  color: red;
  /* font-size: 12px; */
}
