:after,:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb
}

:after,:before {
  --tw-content: ""
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal
}

body {
  margin: 0;
  line-height: inherit
}

nav{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
height: 79px;
align-items: center;
border-bottom: 3px solid #e5e7eb;

}
.img{
  width: 70px;
  height: 70px;
}
.Imgdiv{
  margin-left: 40px;
}
.btn-1{
margin-right: 20px;
width: 108px;
padding: 7px;
background-color: rgb(37, 99, 235);
border-radius: 5px;
border: 1px solid rgb(37, 99, 235);
color: #e5e7eb;
font-size: 18px;
cursor: pointer;
}
.btn-2{
margin-right: 50px;
width: 120px;
padding: 7px;
background-color:  #fff ;
border-radius: 5px;
border: 1px solid  rgb(37, 99, 235);
font-size: 18px;
cursor: pointer;
}
.btn-1:hover{
  background-color: #fff;
  color: black;
}
.btn-2:hover{
/* display: none; */
  visibility: hidden;
}
@media (max-width:700px){
 .btn-1 ,.btn-2{
    margin-right: 16px;
    border: none;
    height: 20px;
   margin-top: 24px;
    border-radius:6px;
    width: 70px;
    text-align: center;
    height: 6vh;
    margin-bottom: 20px;
    font-weight: 500;
  }
.Imgdiv{
  margin-left: 20px;
  height: 60px;
  margin-top: 8px;
}
}
.heading{
 text-align: center;
 margin-top: 5%;
 font-size: 30px;
}

.photo{
 width: 250px;
 height: 250px;
 margin-top: 20px;
 margin-left: 20px;
}
.section-center{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-container{
  flex: 1 0 21%;
  margin: 5px;
  border: 1px solid #ccc;
  /* box-sizing: border-box; */
  /* border: 0 solid #ccc; */
  margin: 20px;
}
.main-container:hover{
  border: 0 solid rgba(160, 142, 142);
  transition: transform 0.3 ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0 , 0, 0.2);
  transform: scale(1.03);
  cursor: pointer;
  background-color: #fff;
}
.item-text{
  color: #ccc;
  font-size: 13px;
}
.item-info{
  /* font-size: 20px; */
  margin-left: 10px;
}
.header{
  display: flex;
}
.price{
  margin-left: 90px;
}