:after,:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb
}

:after,:before {
  --tw-content: ""
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal
}

body {
  margin: 0;
  line-height: inherit
}

nav{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
height: 79px;
align-items: center;
border-bottom: 3px solid #e5e7eb;
}
.img{
  width: 70px;
  height: 70px;
}
.Imgdiv{
  margin-left: 40px;
}
.btn-1{
margin-right: 20px;
width: 108px;
padding: 7px;
background-color: rgb(37, 99, 235);
border-radius: 5px;
border: 1px solid rgb(37, 99, 235);
color: #e5e7eb;
font-size: 18px;
cursor: pointer;
}
.btn-2{
margin-right: 50px;
width: 120px;
padding: 7px;
background-color:  #fff ;
border-radius: 5px;
border: 1px solid  rgb(37, 99, 235);
font-size: 18px;
cursor: pointer;
}
.btn-1:hover{
  background-color: #fff;
  color: black;
}
.btn-2:hover{
/* display: none; */
  visibility: hidden;
}
@media (max-width:700px){
 .btn-1 ,.btn-2{
    margin-right: 16px;
    border: none;
    height: 20px;
   margin-top: 24px;
    border-radius:6px;
    width: 70px;
    text-align: center;
    height: 6vh;
    margin-bottom: 20px;
    font-weight: 500;
  }
.Imgdiv{
  margin-left: 20px;
  height: 60px;
  margin-top: 8px;
}
}
.heading{
 text-align: center;
 margin-top: 5%;
 font-size: 30px;
}

.photo{
 width: 250px;
 height: 250px;
 margin-top: 20px;
 margin-left: 20px;
}
.section-center{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-container{
  flex: 1 0 21%;
  margin: 5px;
  border: 1px solid #ccc;
  /* box-sizing: border-box; */
  /* border: 0 solid #ccc; */
  margin: 20px;
}
.main-container:hover{
  border: 0 solid rgba(160, 142, 142);
  transition: transform 0.3 ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0 , 0, 0.2);
  transform: scale(1.03);
  cursor: pointer;
  background-color: #fff;
}
.item-text{
  color: #ccc;
  font-size: 13px;
}
.item-info{
  /* font-size: 20px; */
  margin-left: 10px;
}
.header{
  display: flex;
}
.price{
  margin-left: 90px;
}
.tittle
{
align-items: center;
/* font-size: 230px; */
}
.hd-1{
  color:rgb(37, 99, 235);
  
  margin-left: 300px;
}
.main{
  border: 2px solid rgb(37, 99, 235) ;
  background-color: #fff;
  width: 350px;
  height: 450px; 
  margin-left: 40%;
  margin-top: 60px;

}
.uname{
  margin-left: 20px;
  color:rgb(37, 99, 235) ;
}
.passclass{
  margin-left: 20px;
/* padding-top: 80px; */

  color:rgb(37, 99, 235);
}
.input1,.input2{
margin-bottom: 50px;
margin-left: 20px;
border: none;
border-bottom: 2px solid rgb(37, 99, 235);
width: 230px;

}
.title{
  color: rgb(37, 99, 235);
  font-size: 33px;
  text-decoration: underline rgb(67, 94, 215);
  margin-left: 120px;
}
.bttn{
  margin-left: 25px;
  width: 280px;
  height: 30px;
  border: none;
  color: #fff;
  font-size: 20px;
  border-radius: 20px;
  background-color: rgb(37, 99, 235);
}
.forgetpass{
  border: none;
  margin-left: 30px;
  width: 280px;
  height: 30px;
  border-radius: 30px;
  color: #fff;
  background-color: rgb(37, 99, 235);
  margin-top: 14px;
}
.forgetpass a{
  color: #fff;
  margin-left: 70px;
  text-decoration: none;
}
 @media(max-width:700){
  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 123px;
    align-items: center;
    border-bottom: 3px solid #e5e7eb;
}
}
.hd-1{
  /* font-size: 11px; */
  margin-left: 74px;
} 
   
.photo-2{
  width: 360px;
  height: 380px;
  padding: 50px;
  margin-left: 110px;
  margin-top: 95px;
}
.item-infor{
  /* margin-left: 55%; */
  margin-top: 190px; 
}
.maiin{
  display: flex;
}
.tittlee{
  font-size: 40px;
}
.pro-pricee{
  font-size: 34px;
  color: #1110109f;
}
hr{
  width: 90%;
  margin-right: 100px;
}
.descrip{
font-size: 15px;
}
.addbtn{
  margin-top: 20px;
  padding: 10px; 
background-color: rgb(37, 99, 235);
border: none;
color: #fff;
}
.addbtn:hover{
  cursor: pointer;
background-color: #000;
}
@media(max-width:700px){
 
  .maiin{
   
    display: block;
    overflow-x: hidden;
  }
  .main-cntainer{ 
   
    width: 150%;
    margin-left: -39%;
    
  } 
  .item-infor{
    
   flex-wrap: wrap; 
   margin-top: 10%;
}}

  /* } */
.maincart{
  display: flex;
  /* border: 2px solid black; */
  width: 100%;
  height: auto;
background-color: #ccc;
}

.maincart2{
width: 60%;
height: auto;
/* height: auto; */
border: 1px solid black;
margin-left: 3%;
background-color: #fff;
margin-top: 20px;
border-radius: 4px;

}
.maincart3{
  width: 30%;
height: 400px;
margin-left: 1%;
margin-top: 20px;
background-color: #fff;
border: 1px solid black;
border-radius: 4px;
/* border-bottom: 3px solid #e5e7eb; */

}
.maincartheading{
  margin-left: 20px;
  font-weight: 700;
}
.maincartpara{
margin-left: 47%;
margin-top: 5%;
font-weight: 500;
}
.totol{
  margin-left: 5%;
}
hr{
  margin-left: 20px;
}
.para-1{
  display: flex;
/* border-bottom:1px solid gray ; */
}
hr{
  width: 83%;
}
.photo-3{
  width: 15%;
  height: 14%;
  margin-bottom: 2%;
  margin-left: 20px;
}
.imgdiv{
  /* border: 2px solid black; */
  display: flex;
}
.detailsdiv{
  margin-left: 22px;
  margin-top:22px;
  font-size: 20px;
}
.prize{
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}
.detailsbtn{
  padding: 8px;
  margin-bottom: 2%;
  border: 2px solid black;
  border-radius: 12px;
  background-color: #ccc;
  /* color: #fff; */
}
.cutbtn{
  margin-left: 95%;
  background-color: #000;
  color: #fff;
  border: none;
  /* margin-top: 10%; */
}
.quantity{
  border-bottom: 2px solid gray;
}
.bbtn{
  margin-top: 15px;
}
.sbtol{
  margin-left: 5%;
}
.sub{
  margin-left: 60%;
}
@media(max-width:700px){
  .maincart{
    display: flex;
  /* flex-wrap: wrap; */
  }
.maincart2{
  flex-wrap: wrap;
}
.maincart3{
  /* flex-wrap: wrap; */
  display: block;
}
.cutbtn {
  margin-left: 95%;
  background-color: #000;
  color: #fff;
  border: none;
  margin-top: 10%;
  margin-left: 181px;
}
.detailsbtn {
  padding: 8px;
  margin-bottom: 2%;
  border: 2px solid black;
  border-radius: 12px;
  background-color: #ccc;
  margin-top: -13px;
}
}
.btncategory{
  margin-left: 14%;
  padding: 10px;
  /* background-color: #000; */
  color: #000;
  border: 1px solid rgb(69, 69, 248);
}